<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>Hello {{ name }} !</b>
    <p>
        We regret to inform you that your appointment with doctor  scheduled has been cancelled due to unforeseen circumstances.</p>
      <p> We apologize for any inconvenience this may cause. Please contact us at <h3>+91 7095340708 </h3>  or reply to this email if you have any questions or concerns.
    </p>
    <p>Best regards,</p>
	<p>The Hospital Admin Team</p>
</body>
</html>