<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .admin-footer {
  background-color: #07090b;
  padding: 30px 0;
}

.admin-footer p {
  color: #f4eded;
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links a {
  color: #f1ebeb;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

    </style>
</head>
<body>
 
</body>
<footer class="admin-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© ABC Hospital</p>
        </div>
        <div class="col-md-6">
          <ul class="footer-links">
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
    