<!DOCTYPE html>
<html>
<head>
	<title>Error Message Template</title>
	<style>
		.container {
			background-color: #f2dede;
			border: 1px solid #f6f4f5;
			color:rgb(198, 231, 31);
			padding: 300px;
			margin: 10px;
			text-align: center;
			font-size: 18px;
			font-weight: bold;
			border-radius: 5px;
			background-image: url(static/images/NotAllowed.jpg);
  		background-repeat: no-repeat;
		  background-size: cover;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Invalid Credentials Error !!!</h1>
		<h3>Sorry, there was an error processing your request. Enter credentials are worng</h3>
        <h3>Please, Comeback with Correct  redentials </h3>
		<h3>Please try again later.</h3>
	</div>
</body>
</html>

