<!DOCTYPE html>
<html>
  <head>
    <title>Flask Email Test</title>
  </head>
  <body>
    <h1>Hello {{ name }}!</h1>
    <p>Thank you for registering for our service. We appreciate your interest and look forward to providing you with the best service possible.</p>
	<p>If you have any questions or concerns, please don't hesitate to contact us.</p>
    <h3>Our team contact NO : +91 7095340708</h3>
	<p>Thank you again for choosing our service!</p>
	<br>
    
	<p>Best regards,</p>
	<p>The Hospital Admin Team</p>
  </body>
</html>